.top {
	padding-top: 25px;
	padding-bottom: 25px;
}

.form-bg {
	background: #001f33;
	padding: 20px
}

.form {
	background-color: white !important;
	padding: 20px
}

.form-group {
	margin-bottom: 12px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

.form-control {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #61615e;
	background: transparent;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s
}

button.btn {
	display: block;
	padding: 9px 30px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin: 20px 0px;
}

.btn-blue {
	background-color: #001f33;
	color: #fff;
	border: 1px solid #4285f4
}

.btn-blue:hover {
	color: #001f33;
	background-color: #3399ff;
}