<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminAuthenticate</display-name>
    <servlet-name>adminAuthenticate</servlet-name>
    <servlet-class>adminAuthenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminAuthenticate</servlet-name>
    <url-pattern>/adminAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAuthenticate</display-name>
    <servlet-name>AdminAuthenticate</servlet-name>
    <servlet-class>AdminAuthenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAuthenticate</servlet-name>
    <url-pattern>/AdminAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addReview</display-name>
    <servlet-name>addReview</servlet-name>
    <servlet-class>addReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addReview</servlet-name>
    <url-pattern>/addReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientAuthenticate</display-name>
    <servlet-name>PatientAuthenticate</servlet-name>
    <servlet-class>PatientAuthenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientAuthenticate</servlet-name>
    <url-pattern>/PatientAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>autoSubmitSpl</display-name>
    <servlet-name>autoSubmitSpl</servlet-name>
    <servlet-class>autoSubmitSpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autoSubmitSpl</servlet-name>
    <url-pattern>/autoSubmitSpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAppointment</display-name>
    <servlet-name>CreateAppointment</servlet-name>
    <servlet-class>CreateAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAppointment</servlet-name>
    <url-pattern>/CreateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffAuthenticate</display-name>
    <servlet-name>StaffAuthenticate</servlet-name>
    <servlet-class>StaffAuthenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffAuthenticate</servlet-name>
    <url-pattern>/StaffAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cancel_appointment</display-name>
    <servlet-name>cancel_appointment</servlet-name>
    <servlet-class>cancel_appointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancel_appointment</servlet-name>
    <url-pattern>/cancel_appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_register</display-name>
    <servlet-name>Patient_register</servlet-name>
    <servlet-class>Patient_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_register</servlet-name>
    <url-pattern>/Patient_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor_register</display-name>
    <servlet-name>Doctor_register</servlet-name>
    <servlet-class>Doctor_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor_register</servlet-name>
    <url-pattern>/Doctor_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseAppointment</display-name>
    <servlet-name>CloseAppointment</servlet-name>
    <servlet-class>CloseAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseAppointment</servlet-name>
    <url-pattern>/CloseAppointment</url-pattern>
  </servlet-mapping>
</web-app>